[submodule "includes/glfw"]
	path = includes/glfw
	url = https://github.com/glfw/glfw.git
[submodule "includes/glm"]
	path = includes/glm
	url = https://github.com/g-truc/glm.git
[submodule "includes/imgui"]
	path = includes/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "includes/stb"]
	path = includes/stb
	url = https://github.com/nothings/stb.git
[submodule "includes/assimp"]
	path = includes/assimp
	url = https://github.com/assimp/assimp.git
[submodule "includes/rapidjson"]
	path = includes/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "includes/googletest"]
	path = includes/googletest
	url = https://github.com/google/googletest.git
[submodule "includes/googlelog"]
	path = includes/googlelog
	url = https://github.com/google/glog.git
[submodule "includes/magic_enum"]
	path = includes/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "includes/optick"]
	path = includes/optick
	url = https://github.com/bombomby/optick.git
[submodule "includes/tinyfiledialogs"]
	path = includes/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git